.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
   
  .whatsapp-icon {
    margin-top:13px;
  }
  /* GALE */
.lupita {
transition: all 0.3s;
}
.lupita:hover{
    transform: scale(1.5);
}


/* CONC */
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.form {
  width: 600px;
}




    
